[Unit]
Description=Shock Collar Discord Bot
Documentation=https://github.com/smouldery/shock-collar-control/wiki
After=network.target

[Service]
User=nobody
ExecStart=/usr/bin/python3 /opt/collarbot/collarbot.py
Nice=-1
ExecStartPre=/bin/sleep 10

[Install]
WantedBy=multi-user.target
